.ant-table-wrapper {
  width:95%;
  margin:0 auto;
  background-color:white;
}
.action {
  display: flex;
  justify-content:space-between;
  background-color: white;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top:20px;
}
.time-box {
  display: flex;
}
.ant-modal {
  width:530px;
  line-height: 4.5;
}
.download {
  margin-right: 20px;
}
。se