@import '~antd/dist/antd.css';
body,html{
  margin:0;
  overflow:hidden;
  background-color: aliceblue;

}
/* body {
} */

 .login-form {
  max-width: 300px;
  margin:0 auto;
  margin-top:200px
}
 .login-form-forgot {
  float: right;
}
 .login-form-button {
  width: 100%;
}
.ant-input-affix-wrapper,.login-form-button{
  font-size: 16px;
  height: 45px;
}


